// COLORSs
$color-primary: #0a472e;
$color-0a47: #0a472e;
$color-eb30: #bac34e;
$color-f4f4: #f4f4f4;
$color-e8f8: #e8f8f7;
$color-f6f3: #f6f3e3;
$color-f3e4: #f3e4dc;
$color-e0bf: #e0bf96;
$color-fbf4: #fbf4ea;
$color-f6a8: #f6a879;
$color-f4ed: #f4ed23;
$color-bac3: #bac34e;
$color-aaa: #aaa;
$color-555: #555;
$text-black: #000;
$black: #000;
$text-white: #fff;
$white: #fff;

// Container
$width-container: 1360px;
$p-container: 20px;

// FONTS
$font-mazzard-l: "Mazzard L";
$font-mazzard-m: "Mazzard M";
$font-mazzard-h: "Mazzard H";
$font-richmond: "Greatest Richmond";
