.testimonials {
  padding-bottom: 85px;

  &__box {

    &:first-child{
      padding-bottom: 40px;
    }
    &:last-child{
      .testimonials__texts{
        padding-left: 12px;
        height: 215px;
        align-self: center;
      }
    }
  }

  &__texts {
    padding: 0 92px;
  }

  &__text {
    font-size: 14px;
    color: $color-aaa;
    margin: 25px 0 40px 0;
  }

  &__title {
    font-size: 30px;
    color: $color-0a47;
    letter-spacing: -0.75px;
    line-height: 35px;
    margin-bottom: 20px;
    max-width: 370px;
  }

  &__static-title{
    font-size: 30px;
    color: $color-0a47;
    letter-spacing: -0.75px;
    line-height: 35px;
    margin-bottom: 30px;
  }

  &__des {
    font-size: 14px;
    color: $color-555;
    margin-bottom: 16px;
  }

  &__link {
    @include btn-a;
    color: $color-bac3;
    
    &::after{
      margin-top: 3px;
      background-color: $color-bac3;
    }
    i{
      color: $color-bac3;
      top: 40%;
    }
  }

  &__indicators {
    margin: 0 !important;
    display: flex !important;
    justify-content: flex-start !important;
    bottom: -20px !important;
    left: 103px !important;
  }

  &__indicator {
    display: inline-block !important;
    margin: 0 7px !important;
    background-color: #d5d5d5 !important;
    width: 8px !important;
    height: 8px !important;
    border-radius: 50%;
    opacity: 1 !important;
  }

  &__indicator.active{
    background-color: $color-0a47 !important;
  }

  &__item {
    padding-left: 110px;
    position: relative;

    &::before{
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 48px;
      height: 38px;
      @include bg(center);
      background-image: url("../../img/quote.png");
    }
  }
}
@media only screen and (max-width:1200px) {
  .testimonials{
    &__texts {
      padding: 0 12px;
    }
    &__item {
      padding-left: 80px;
      position: relative;
    }  
    &__indicators {
      left: 73px !important;
    }
    &__img{
      display: inline-block;
      width: 100%;
      margin-bottom: 20px;
    }
  }
}